body{
    color: white;
    margin: auto 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-size: 80px;
    padding-left: 50px;
}
h1{
    padding-left: 50px;
}
#Hello{
    opacity: 1;
    animation: appear 2s;
}
@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.twentypx{
    font-size: 20px;
    margin: 20px;
}
img{
    position: relative;
}
a{
    color: white;
    font-style: italic;
}
ul{
    list-style-type: none;
    display: block;
    background-color: white;
    color: blueviolet;
    font-size: 30px;
    overflow: hidden;
    margin: 0;
    padding: 25px;
}
li{
    float: left;
}
li a{
    display: block;
    color: blueviolet;
    padding: 20px;
    text-decoration: none;
}
#moving{
    animation: moving 2s ease forwards;
}
@keyframes moving{
    from{
        transform: translateY(-30px);

    }
    to{
        transform: translateY(0);
    }
}
.italic{
    font-style: italic;
}
.img{
    width: 100%;
    height: auto;
    display: block;
}