body{
    color:  black;
    margin: auto 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-size: 80px;
}
#Hello{
    opacity: 1;
    animation: appear 2s;
}
@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.twentypx{
    font-size: 20px;
    margin: 20px;
}
img{
    position: relative;
}
a{
    color: black;
}
ul{
    list-style-type: none;
    display: block;
    background-color: white;
    color: green;
    font-size: 30px;
    overflow: hidden;
    margin: 0;
    padding: 25px;
}
li{
    float: left;
    display: block;
    padding: 20px;
    font-weight: bolder;
}
li a{
    display: block;
    color: green;
    padding: 20px;
    text-decoration: none;
}
#moving{
    animation: moving 2s ease forwards;
}
@keyframes moving{
    from{
        transform: translateY(-30px);

    }
    to{
        transform: translateY(0);
    }
}
.italic{
    font-style: italic;
}
.img{
    width: 100%;
    height: auto;
    display: block;
}
.bolder{
    font-weight: bolder;
}
.rainbow-text {
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbow 5s infinite;
}

@keyframes rainbow {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}
.blue{
    color: blue;
}